<header>
    <section class="logo">
        <a href="/"><img src="/static/images/Droid Store-4.png" alt="Logo"></a>
    </section>
    <section class="busqueda">
        <input type="search" class="search" placeholder="Buscar productos..."/><button id="search"><i class="fas fa-search"></i></button>                
    </section>
    <section class="burger-menu">
        <i class="fas fa-bars"></i>
    </section>
    <section>
        <nav class="navbars">
            <ul class="menu-opciones">
                <li><a href="#"><i class="fas fa-building"></i> Nuestra empresa</a></li>
                <li><a href="#"><i class="fas fa-robot"></i> Robots</a>
                <ul>
                    <li><a href="/prodAll">Todos</a></li>
                    <li><a href="/prodFijos">Fijos</a></li>
                    <li><a href="/prodMoviles">Móviles</a></li>
                    
                </ul>
                </li>
                <li><a href="#"><i class="fas fa-tools"></i> Repuestos</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i> Mi carrito</a></li>
            </ul>
            <ul class="menu-usuario">
                <li><a href="#"><i class="fas fa-solid fa-user"></i> Usuario</a>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Crear cuenta</a>
                    <li><a href="/productCrud">Mant.Productos</a>
                </ul>
                </li>
            </ul>
        </nav>
    </section>
</header>

