<footer>
    <section class="footer">
        <article class="texto-footer1">
          <h3>Ubicacion</h3>
           <p>Avenida Siempreviva 742</p>
           <p>CP 6655 - Springfield</p>
        </article>
        <article class="texto-footer1">
            <h3>Contacto</h3>
            <p>764-84377</p>
            <p>droid@store.com.ar</p>
        </article>
        <article class="texto-footer2">
            <img  src="/static/images/logo-instagram.png" alt="instagram">
            <img  src="/static/images/logo-linkedin.png" alt="linkedin">
        </article>  
      </section>
  </footer>