<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/productCart.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <%- include('./partials/header')%>
    <section id="seccion-carrito">
        <div class="sub-encabezado">
            <h1>CARRITO</h1>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="container-bordered">
                    <h4>1. Metodo de Pago</h4>
                    <form action="">
                        <select name="tarjetas" id="">
                            <option value="visa">Visa</option>
                            <option value="mastercard">Mastercard</option>
                            <option value="americanExpress">American Express</option>
                        </select>
                        <select name="bancos" id="">
                            <option value="icbc">ICBC</option>
                            <option value="galicia">Banco Galicia</option>
                            <option value="bbva">BBVA</option>
                            <option value="nacion">Banco Nacion</option>
                            <option value="ciudad">Banco Ciudad</option>
                            <option value="santander">Banco Santander</option>
                        </select>
                        <select name="cuotas" id="">
                            <option value=3>3</option>
                            <option value=6>6</option>
                            <option value=12>12</option>
                            <option value=18>18</option>
                            <option value=24>24</option>
                        </select>
                    </form>
                </div>
                <div class="container-bordered">
                    <h4>2. Metodo de envío</h4>
                    <form action="">
                        <label for="envio">Envío a Domicilio</label>
                        <input type="radio" value="Envío a Domicilio" name="metodo">
                        <label for="retiro">Retiro en sucursal</label>
                        <input type="radio" value="Retiro en sucursal" name="metodo">
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="container-bordered">
                    <h4>3. Detalle de productos seleccionados</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-bordered-wide">
                <h4>Resumen de compra</h4>
            </div>
            <div id="comprar-seguir">
                <button type="submit">COMPRAR</button>
                <a href="/">Seguir comprando</a>
            </div>
        </div>
    </section>  
    <%- include('./partials/footer')%>
</body>
</html>