<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
<body>
  <%- include('./partials/header')%>
  <main>
    <section class='detalle-individual'>
      <article class='art-detalle'>
          <img height="280px" src="/static/images/aboutUs.jpg" alt="aboutUs.jpg">
      </article>
      <article class='art-detalle'>  
        <span class=precio-descuento-descrip>
            <h4>Nuestra empresa</h4>
            <br>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostr one mover.</p>
          </span>
        </article>
    </section>
  </main>
<%- include('./partials/footer')%>
</body>

</html>