<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <section class="logo">
          <img src="/static/images/Droid-Store-3.png" alt="Logo">
      </section>
       <ul class="nav2">
        <li><a href="register">Creá tu cuenta </a></li>
        <li><a href="login">Ingresá </a></li>
      </ul>
      </header>
    <section>
      <p>Section Index</p>
    </section>
    <footer>
      <p>Footer Index</p>
    </footer>
  </body>
</html>