<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')%>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
 <body>
    <%- include('./partials/header')%>
   <main>
    <section class='seccion-productos'>
      <div class= 'banner'>
        <img width='100%' src="/static/images/1620150535068.jpeg" alt="banner"/>
      </div>
       <h2 class='titulares'>Robots Fijos</h2>

       <div class="container">

         <article class='art'>
          <a href="/Productos/Cobot"><img height="200px" src="/static/images/Cobot.jpg" alt="TM"></a>
           <span class=precio-descuento-descrip><p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 70.000</p>
             <p class='descuentos'>40% OFF</p>
             <p class='detalle'>Robot Colaborativo TM12</p>
           </span>
         </article>

         <article class='art'>
          <a href="/Productos/Quattro"><img height="200px" src="/static/images/Quattro.jpg" alt="Quattro"></a>
           <span class=precio-descuento-descrip><p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 120.000</p>
             <p class='descuentos'>20% OFF</p>
             <p class='detalle'>Robot Paralelo Quattro 650</p>
           </span>
         </article>
          
         <article class='art'>
          <a href="/Productos/i4"><img height="200px" src="/static/images/i4.jpg" alt="i4"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 45.000</p>
             <p class='descuentos'>10% OFF</p>
             <p class='detalle'>Robot Scara i4</p>
           </span>
         </article>

         <article class='art'>
          <a href="/Productos/Viper"><img height="200px" src="/static/images/Viper.jpeg" alt="viper"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 105.000</p>
             <p class='descuentos'>5% OFF</p>
             <p class='detalle'>Robot Viper 6 Ejes</p>
           </span>
         </article>

       </div>
    </section>

    <section class='seccion-productos'>

       <h2 class='titulares'>Robots Móviles</h2>

       <div class="container">

         <article class='art'>
          <a href="/Productos/LD90"><img height="200px" src="/static/images/LD90.png" alt="LD90"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 90.000</p>
             <p class='descuentos'>40% OFF</p>
             <p class='detalle'>Robot Movil Inteligente 90Kg</p>
           </span>
         </article>

         <article class='art'>
          <a href="/Productos/LD90Black"><img height="200px" src="/static/images/LD90Black.jpeg" alt="DarkLD"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 105.000</p>
             <p class='descuentos'>20% OFF</p>
             <p class='detalle'>Robot Movil Inteligente 90Kg SemiDigital</p>
           </span>
         </article>

         <article class='art'>
          <a href="/Productos/LD250"><img height="200px" src="/static/images/LD250.jpg" alt="LD250"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 120.000</p>
             <p class='descuentos'>10% OFF</p>
             <p class='detalle'>Robot Movil Inteligente 250Kg</p>
           </span>
           </article>

         <article class='art'>
          <a href="/Productos/HD1500"><img height="200px" src="/static/images/HD1500.jpg" alt="HD1500"></a>
           <span class=precio-descuento-descrip>
             <p><i class="fas fa-robot"></i></p>
             <p class='precios'>USD 200.000</p>
             <p class='descuentos'>5% OFF</p>
             <p class='detalle'>Robot Movil Inteligente 1500Kg</p>
           </span>
         </article>

       </div>
     </section>
   </main>
   <%- include('./partials/footer')%>
 </body>

</html>