<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head')%>
    
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Dorid Mantenimiento</title>
</head>
<body>
    <header>
        <%- include('./partials/header')%>
    </header>

    <main class="main-registro">
            <h3 class="titulo-registro">Mantenimiento de productos</h3    >
            <h5 class="titulo-registro">Los campos marcados con * son requeridos</h5>
            <form action="/" method="#">
            <label for="id" class="label">SKU *</label>
                <input class="campo-input" type="text" name="id" placeholder="Ingrese SKU" required minlength=2>
            <label for="name" class="label">Nombre Producto *</label>
                <input class="campo-input" type="text" name="name" placeholder="Nombre del producto" required minlength=2>
            <label for="description" class="label">Descripción *</label>
                <textarea class="campo-input" name="description">Descripción del producto</textarea>
            <label for="image" class="label">Seleccione las imagenes del producto *</label>
                <input class="campo-input" type="file" name="image" accept= ".jpg .png" multiple>

            <label for="category" class="label">Categoría *</label>
            <div class="telefono">
                <select name="category" class="codigo-pais">
                    <option value="robot-fijo">Robot fijo</option>
                    <option value="robot-movil">Robot móvil</option>
                    <option value="repuesto">Repuesto</option>
                </select>
            </div>
            <label for="price" class="label">Precio *</label>
                <input class="campo-input" type="number" name="price" placeholder="Precio" required>
            <label for="discount" class="label">Descuento *</label>
                <input class="campo-input" type="number" name="discount" placeholder="Descuento">
            

<!--           <div class="g-recaptcha" data-sitekey="your_site_key"></div>
               <input type="submit" value="Submit">-->

            <div class="botonera">
                <button class="button-registro" type="">Buscar</button>
                <button class="button-registro" type="">Agregar</button>
                <button class="button-registro" type="">Editar</button>
                <button class="button-registro" type="reset">Borrar</button>
                <button class="button-registro" type="">Eliminar</button>
            </div>
    </main>

    <footer>
        <%- include('./partials/footer')%>
    </footer>
</body>
</html>