<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/productDetail.css">
    <link rel="stylesheet" href="/static/css/styles.css">  


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <p>Encabezado Index</p>
    </header>
    <div class="sub-encabezado">
        <h3>Detalle de Producto</h3>
    </div>
    <section id="detalle-producto">
        <article>
            <img height="200px" src="/static/images/Robot_1.jpg" alt="robo_1">
            <div class="texto-articulo">
            <p class='sku'>SKU: XXXXX</p>
            <p class='titulo'>Título de producto</p>
            <p class='precio'>Precio: $0000,00</p>
            <a href="pagos">Conocé los medios de pago <i class="fas fa-solid fa-credit-card"></i></a>
            <a href="envio">Conocé las opciones de envío y retiro <i class="fas fa-solid fa-truck"></i></a>
            </div>
            <div class="comprar">
                <a href="pagos">Cantidad de unidades<i class="fas fa-solid fa-cart-plus"></i></a>
                <!-- <select name="cantidad" id="">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select> -->
                <div id="comprar-seguir">
                    <button type="submit">COMPRAR</button>
                </div> 

            </div>       



        </article> 
            
    </section>  
    <footer>
        <section class="footer">
            <article class="texto-footer1">
              <h3>Ubicacion</h3>
               <p>Avenida Siempreviva 742</p>
               <p>CP 6655 - Springfield</p>
            </article>
            <article class="texto-footer1">
                <h3>Contacto</h3>
                <p>764-84377</p>
                <p>droid@store.com.ar</p>
            </article>
            <article class="texto-footer2">
                <img  src="/static/images/logo-instagram.png" alt="instagram">
                <img  src="/static/images/logo-linkedin.png" alt="linkedin">
            </article>  
        </section>
</body>
</html>