<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/static/css/productCart.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
  <%- include('./partials/header')%>
    <div class="sub-encabezado">
        <h3>Detalle de Producto</h3>
    </div>
    <section id="detalle-producto">
      <div class= 'banner'>
        <img width='100%' src="/static/images/1620150535068.jpeg" alt="banner"/>
      </div>
        <article class="tarjeta-producto">
            <img height="200px" src="/static/images/Robot_1.jpg" alt="robo_1">
            <div class="texto-completo">
                <div class="texto-articulo">
                <p class='sku'>SKU: XXXXX</p>
                <p class='titulo'>Título de producto</p>
                <p class='precio'>Precio: $0000,00</p>
                <p><a href="pagos"><i class="fas fa-solid fa-credit-card"></i>Conocé los medios de pago </a></p>
                <p><a href="envio"><i class="fas fa-solid fa-truck"></i>Conocé las opciones de envío y retiro </a></p>
                </div>
                 <div class="comprar">
                    <a href="pagos"><i class="fas fa-solid fa-cart-plus"></i>    Cantidad de unidades</a>
                    <label for="cantidad" class="label"></label>
                    <input class="campo-input" type="text" name="cantidad" placeholder="1" required>
                    <div id="comprar-seguir">
                    <button type="submit">AÑADIR A CARRITO DE COMPRAS</button>
                    </div> 
                </div>
            </div> 
        </article> 
        <div class= "descripcion">
            <p class='desc-articulo'>Caracteristicas técnicas del artículo</p>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam officia culpa quo, ullam voluptatibus rerum nisi eius accusamus commodi earum non id maxime quasi enim neque ad vel magni temporibus!</p>
        </div>            
    </section>  
    <%- include('./partials/footer')%>
</body>
</html>