<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Dorid Login</title>
</head>
<body>
    <header>
        <section class="logo">
            <a href="/"><img src="/static/images/Droid-Store-3.png" alt="Logo"></a>
        </section>


    </header>
    <main class="main-registro">
        <section>
            <form action="/" method="#">
            <h2 class="titulo-registro">Crea tu cuenta</h2>
            <h4>Los campos marcados con * son requeridos</h4>
        
            <p><label for="nombre" class="label">Nombre *</label>
                <input class="campo-input" type="text" name="nombre" placeholder="Ingrese su nombre" required minlength=2></p>
            <p><label for="apellido" class="label">Apellido *</label>
                <input class="campo-input" type="text" name="apellido" placeholder="Ingrese su apellido" required minlength=2></p>
            <p><label for="telefono" class="telefono">Teléfono *</label>
                <input class="codigo-pais" type="number" name="codigo-pais" placeholder="Código país" required>
                <input class="telefono" type="number" name="telefono" placeholder="Teléfono *" required></p>
            <p><label for="empresa" class="label">Empresa a la que pertenece *</label>
                <input class="campo-input" type="text" name="empresa" placeholder="Empresa" required></p>
            <p><label for="usuario" class="label">Usuario (email) *</label>
                <input class="campo-input" type="email" name="email" placeholder="Ingrese su email" required></p>
            <p><label for="password" class="label">Contraseña *</label>
                <input class="campo-input" type="password" name="password" placeholder="Ingrese su contraseña" required minlength=6></p>
            <p><label for="password" class="label">Confirme su contraseña *</label>
                <input class="campo-input" type="password" name="password" placeholder="Confirme su contraseña" required minlength=6></p>

            <p><div class="g-recaptcha" data-sitekey="your_site_key"></div>
            <input type="submit" value="Submit"></p>

            <div class="botonera">
                <button class="button-registro" type="submit">Aceptar</button>
                <button class="button-registro" type="reset">Borrar</button> 
            </div>
        </section>
    </main>
</body>
</html>