* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(/static/images/Droid-buyer.mp4);
  background-position-x: center;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.burger-menu {
  background-color: #0044aa;
  border-radius: 5px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 5px;
  width: 35px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: 10px;
}

.box-a {
  width: auto;
  height: 120px;
  justify-content: space-around;
  padding: 10px;
  color: white;
}

.box-b li {
  width: auto;
  height: auto;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  padding: 10px;
  font-size: 50px;
}
.seccion-productos {
  background-color: #ebebeb;
}

main {
  text-align: center;
  width: 90vw;
}

main section i {
  display: block;
  font-size: ​16​px​;
  padding: ​5​px​;
  width: ​30​px​;
  height: ​30​px​;
  border: ​1​px​ ​solid​ ​#39b54a;
  background-color: #fff;
  border-radius: ​50;
  position: absolute​;
  right: ​20​px​;
  top: ​-15​px​;
}

#barraDeBusqueda {
  background-color: white;
  border-color: white;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}
main article {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ebebeb;
  background-color: white;
}

main article p {
  background-color: white;
}
.titulares {
  font-size: 24px;
}
.precios {
  font-size: 18px;
}
.descuentos {
  font-size: 16px;
  color: #39b54a;
}

div {
  text-align: center;
  width: 100vw;
}
section {
  text-align: center;
  width: 100vw;
}

main article span p i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  color: #39b54a;
  border-radius: 50%;
  position: relative;
  transition: 450ms;
}
main article:hover {
  box-shadow: 0 0 16px 12px rgba(0, 0, 0, 0.74);
}

.detalle:hover {
  color: #666;
}

main article span p i:hover {
  transform: rotateZ(-45deg);
}

.register-form {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.detalle {
  font-size: 16px;
}

.campo {
  padding: 10px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.campo label {
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.campo input {
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.campo button {
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.button-registro {
  width: 200px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  border: 5px solid #fff;
  transition: background-color, color, 400ms;
}
.button-registro:hover {
  background-color: #0044aa;
  color: #ebebeb;
  border-color: #0044aa;
}
.button-login {
  width: 200px;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #fff;
  transition: background-color, color, 400ms;
}
.button-login:hover {
  background-color: #0044aa;
  color: #ebebeb;
  border-color: #0044aa;
  align-items: center;
}

@media (max-width: 360px) {
  nav {
    display: none;
  }
  .detalle {
    display: none;
  }
}

@media (min-width: 361px) {
  .burguer-menu {
    display: none;
  }
  main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  header nav ul li {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .burguer-menu {
    display: none;
  }
  main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  header nav ul li {
    display: inline-block;
  }
}
