* {
  /*border: 1px solid red; */
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #31356e;
  text-decoration: none;
}

#detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

#comprar-seguir button {
  width: 90%;
  padding: 1rem;
  border-radius: 3px;
  border: none;
}

.footer {
  background: linear-gradient(
    0deg,
    rgba(180, 180, 181, 1) 0%,
    rgba(222, 226, 230, 1) 84%
  );
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}
.texto-footer1 {
  padding-top: 10px;
}
.texto-footer2 {
  padding: 10px;
}
footer img {
  width: 20px;
  padding: 2px;
}

@media (min-width: 361px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
  }
  .texto-footer1 {
    width: 40%;
    text-align: left;
    padding: 8px;
  }
}

@media (min-width: 769px) {
}
@media (min-width: 1024px) {
  .texto-footer1 {
    width: 30%;
  }
}
