* {
  /*border: 1px solid red; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #31356e;
  text-decoration: none;
  font-size: 12px;
}

/* ----------------------------------------------------------------------------------
inicio de css en product detail */

.sub-encabezado {
  background-color: #4c4b9b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 900;
}

.tarjeta-producto {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 3px;
}

.sku {
  font-size: 0.6rem;
}

.titulo {
  font-size: 2.3rem;
}

.precio {
  font-size: 1.3rem;
}

.comprar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comprar input {
  width: 10%;
}

#detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  text-align: center;
  padding-top: 354px;
}
#texto-articulo {
  line-height: 4;
}

#comprar-seguir button {
  width: 70%;
  padding: 1rem;
  border-radius: 3px;
  border: 2px solid;
  /* margin-bottom: 2rem; */
}

.descripcion {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 3px;
  text-align: left;
}

.desc-articulo {
  text-decoration: solid black;
  font-size: 1.2rem;
  text-decoration-line: underline;
}

.desc-articulo p {
  font-size: 0.8rem;
}

/* ----------------------------------------- */
@media (min-width: 361px) {
  /* .img {
    display: flex;
    justify-content: center;
    align-content: center;
  } */
  #detalle-producto {
    padding-top: 299px;
  }
  .texto-completo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 50%;
  }

  .comprar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30%;
  }

  .tarjeta-producto {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 3px;
  }
}
/* ----------------------------------------- */
@media (min-width: 769px) {
  #detalle-producto {
    padding-top: 299px;
  }
}
/* ----------------------------------------- */
@media (min-width: 1024px) {
}
