<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Dorid registro</title>
</head>
<body>
    <header>
        <%- include('../partials/header')%>
    </header>

    <main class="main-registro">
            <h3 class="titulo-registro">Crea tu cuenta</h3    >
            <h5 class="titulo-registro">Los campos marcados con * son requeridos</h5>
            <form action="/" method="#">
            <label for="nombre" class="label">Nombre *</label>
                <input class="campo-input" type="text" name="nombre" placeholder="Ingrese su nombre" required minlength=2>
            <label for="apellido" class="label">Apellido *</label>
                <input class="campo-input" type="text" name="apellido" placeholder="Ingrese su apellido" required minlength=2>
            <label for="telefono" class="label">Teléfono *</label>
            <div class="telefono">
                <input class="codigo-pais" type="number" name="codigo-pais" placeholder="Código país" required>
                <input class="nro-telefono" type="number" name="telefono" placeholder="Teléfono *" required>
            </div>
            <label for="empresa" class="label">Empresa a la que pertenece *</label>
                <input class="campo-input" type="text" name="empresa" placeholder="Empresa" required>
            <label for="usuario" class="label">Usuario (email) *</label>
                <input class="campo-input" type="email" name="email" placeholder="Ingrese su email" required>
            <label for="password" class="label">Contraseña *</label>
                <input class="campo-input" type="password" name="password" placeholder="Ingrese su contraseña" required minlength=6>
            <label for="password" class="label">Confirme su contraseña *</label>
                <input class="campo-input" type="password" name="password" placeholder="Confirme su contraseña" required minlength=6>

<!--           <div class="g-recaptcha" data-sitekey="your_site_key"></div>
               <input type="submit" value="Submit">-->

            <div class="botonera">
                <button class="button-registro" type="submit">Aceptar</button>
                <button class="button-registro" type="reset">Borrar</button> 
            </div>
    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>
</html>