<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Dorid Login</title>
</head>
<body>

    <header>
        <%- include('../partials/header')%>
    </header>
    
    <main class="main-login">
            <h3 class="titulo-login">Iniciar sesión</h3>
            <form action="/" method="#">
                <label for="usuario" class="label">Usuario </label>
                    <input class="campo-input" type="text" name="name" placeholder="Ingrese su email" required minlength=2>
                    <p class="login-link"><a href="#">¿Olvidaste tu email?</a></p>
                <label for="usuario" class="label">Contraseña </label>
                    <input class="campo-input" type="password" name="password" placeholder="Ingrese su contraseña" required minlength=6>
                    <p class="login-link"><a href="#">¿Olvidaste tu contraseña?</a></p>
                    <p class="link-register"><a href="register">Crea tu cuenta</a></p>

 <!--               <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                 <input type="submit" value="Submit"></p>-->

                <div class="botonera">
                    <button class="button-login" type="submit">Aceptar</button>

                </div>
            </form>
    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>
</html>