<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Dorid Perfil</title>
</head>
<body>

    <header>
        <%- include('../partials/header')%>
    </header>
    
    <main class="main-login">
      
            <h1 class="titulo-login">Perfil de Usuario</h1>

    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>
</html>